# UiPath specific
.entities/
.objects/
.screenshots/
.settings/
.local/
.tmh/
.project/
.templates/
TestCases/
project.uiproj
project_lock.json

# Logs
*.log

# IDE files
.vs/
.idea/
*.suo
*.user

# OS files
Thumbs.db
.DS_Store
desktop.ini

# Backup
*.bak
*~
